{% extends 'base.html' %}
{% load staticfiles %}
{% load humanize %}
{% block content %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
    <title>Busca de veículos</title>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    </head>
<body>
    <form class="navbar-form" action="." method="get">
	<!-- campo pesquisa -->
        <td>Modelo: </td><input type="text" name="pesquisar_por_modelo" type=text class="form-control" placeholder="Pesquisar por modelo...">
            <button class="btn btn-success form-control" type="submit"><span class="glyphicon glyphicon-search"></span></button>
    </form>
</div>
    <br>
    <div><h1>Lista de Veículos <font size="3"/></h1></div>

    <div>
        <table class="table table-striped">
	    <thead>
		<tr>
		    <th>Marca</th>
		    <th>Categoria</th>
		    <th>Modelo</th>
		    <th>Preço</th>
		</tr>
	    </thead>
	    <tbody>
		{% for v in object_list %} 
		<tr>
		    <td><a href="{% url 'graficos' param=v.marca %}">{{ v.marca }}</a></td>
		    <td><a href="{% url 'graficos' param=v.categoria %}">{{ v.categoria }}</a></td>
		    <td><a href="{% url 'graficos' param=v.modelo %}" target="_blank">{{ v.modelo }}</a></td>
		    {% if not v.preco_min == None %}
			<td>R$ {{ v.preco_min|floatformat:3|intcomma }} ~ {{ v.preco_max|floatformat:3|intcomma }} </td>
		    {% else %}
			<td><p>Nenhum preço informado na oferta.</p></td>
		    {% endif %}
		{% empty %}
		    <p> Sem itens na lista.</p>
		</tr>
		{% endfor %}
	    </tbody>
	</table>
	</div>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <!-- Paginação -->
    {% include "pagination.html" %}
    {% endblock content %}
</body>
</html>