<!-- pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
		    {% if page_obj.has_previous %}
			<li class="pagina-inicial"><a href="?page=1">&laquo;</a></li>
			<li class="pagina-anterior"><a href="?page={{ page_obj.previous_page_number }}{{ data.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&lsaquo;</a></li>
		    {% endif %}
		    {% for pg in page_obj.paginator.page_range %}
			{% if page_obj.number == pg %}
			    <li class="pagina-atual"><a href="?page={{ pg }}{{ data.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ pg }}</a></li>
			{% else %}
			    {% if pg <= page_obj.number|add:3 and pg >= page_obj.number|add:-3 %}
		                <li><a href="?page={{ pg }}{{ data.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ pg }}</a></li>
		            {% endif %}
			{% endif %}
		    {% endfor %}
		    {% if page_obj.has_next %}
			<li class="prox-pagina"><a href="?page={{ page_obj.next_page_number }}{{ data.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&rsaquo;</a></li>
			<li class ="ultima-pagina"><a href="?page={{ paginator.num_pages }}{{ data.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&raquo;</li>
		    {% endif %}
		</ul>
	    </div>
	</div>