<!DOCTYPE html>
<html>
    <head>
	{% load staticfiles %}
        <title>Ola's Mundo!</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    </head>
    <body>
	<div><a href='../admin'>Administrador</a>
	<div><a href='../veiculos'>Veiculos</a>
        <div>
	    <h1><a href="/">Django's Tcc From Hell</a></h1>
	</div>


        {% for veiculo in veiculos %}
	    <div>
		<p>Veiculo: {{ veiculo.modelo}}</p>
		<p>Preço: {{ veiculo.preco}}</p>
	    </div>
	{% endfor %}
    </body>
</html>